.navbar{
    height: 100%;
    background-color: green;
    position: fixed;
    width: 29%;
}
@media screen and (max-width:600px){
    .navbar{
        display: none;
    }
}
.main{
    width: 70%;
    background-color: red;
    margin-left: 30%;
}
@media screen and (max-width:600px){
    .main{
        width: 100%;
        background-color: red;
        margin-left: 0%;
        margin-top: 0%;
    }
}
.mini{
    background-color: blue;
    display: none;
    position: ;
    width: 100%;
    
    margin-top: 0%;
}
@media screen and (max-width:600px){
    .mini{
        background-color: blue;
        display: block;
    }
}